doctype html
html(ng-app='meetup-clone')
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
    link(href="/css/bootstrap-responsive.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    link(href="/color/default.css", rel="stylesheet")
    link(rel="shortcut icon", href="/img/favicon2.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/checklist-model.js')
    script(src='/javascripts/meetup.js')
  body
    block content
