<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a>
				<h1 class="brand"><a href="/#/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" class=""></a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
					<ul id="menu-main" class="nav">
						<li><a title="User Profile"  href="/#/viewProfile"><img src="/img/user.png" class="user-img" style="width:30px;"/>  {{currentUser}} </a></li>
						<li><a title="logout" href="/logout">Logout</a></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="createMeetup-wrapper">
	<header class="clearfix">
		<h1>Create Meetup</h1>
		<form name="createMeetupForm" ng-submit="createMeetup(createMeetupForm.$valid)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.title.$invalid && !createMeetupForm.title.$pristine }">
				<label>Title</label>
				<input type="text" name="title" class="form-control" ng-model="meetup.title" required></input>
				<p ng-show="createMeetupForm.title.$error.required && !createMeetupForm.title.$pristine" class="help-block">Title required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.category.$invalid && !createMeetupForm.category.$pristine }">
				<label>Category</label>
				<select name="category" class="form-control" ng-model="meetup.category" ng-options="x for x in categories" required></select>
				<p ng-show="createMeetupForm.category.$error.required && !createMeetupForm.category.$pristine" class="help-block">Category required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.date.$invalid && !createMeetupForm.date.$pristine }">
				<label>Date</label>
				<input type="date" name="date" class="form-control" ng-model="meetup.date" required></input>
				<p ng-show="createMeetupForm.date.$error.required && !createMeetupForm.date.$pristine" class="help-block">Date required</p>
			</div>
			<h5><strong>Time</strong></h5>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.timefrom.$invalid && !createMeetupForm.timefrom.$pristine }">
				<label>From</label>
				<input type="time" name="timefrom" class="form-control" ng-model="meetup.from" required></input>
				<p ng-show="createMeetupForm.timefrom.$error.required && !createMeetupForm.timefrom.$pristine" class="help-block">Time required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.timeto.$invalid && !createMeetupForm.timeto.$pristine }">
				<label>To</label>
				<input type="time" name="timeto" class="form-control" ng-model="meetup.to" required></input>
				<p ng-show="createMeetupForm.timeto.$error.required && !createMeetupForm.timeto.$pristine" class="help-block">Time required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.details.$invalid && !createMeetupForm.details.$pristine }">
				<label>Details</label>
				<textarea name="details" rows=5 class="form-control" ng-model="meetup.details" required></textarea>
				<p ng-show="createMeetupForm.details.$error.required && !createMeetupForm.details.$pristine" class="help-block">Details required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.street.$invalid && !createMeetupForm.street.$pristine }">
				<label>Street</label>
				<input type="text" name="street" class="form-control" ng-model="meetup.street" required></input>
				<p ng-show="createMeetupForm.street.$error.required && !createMeetupForm.street.$pristine" class="help-block">Street required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.city.$invalid && !createMeetupForm.city.$pristine }">
				<label>City</label>
				<input type="text" name="city" class="form-control" ng-model="meetup.city" required></input>
				<p ng-show="createMeetupForm.city.$error.required && !createMeetupForm.city.$pristine" class="help-block">City required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.state.$invalid && !createMeetupForm.state.$pristine }">
				<label>State</label>
				<input type="text" name="state" class="form-control" ng-model="meetup.state" required></input>
				<p ng-show="createMeetupForm.state.$error.required && !createMeetupForm.state.$pristine" class="help-block">State required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : createMeetupForm.slots.$invalid && !createMeetupForm.slots.$pristine }">
				<label>Slots</label>
				<input type="number" name="slots" class="form-control" ng-model="meetup.slots" required></input>
				<p ng-show="createMeetupForm.slots.$error.required && !createMeetupForm.slots.$pristine" class="help-block">Slots required</p>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="createMeetupForm.$invalid">Create</button>
		</form>
	</header>
</div>

<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>