<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand"><a href="/#/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" class=""></a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
					<ul id="menu-main" class="nav">
						<li><a title="User Profile" href="/#/viewProfile"><img src="/img/user.png" class="user-img" style="width:30px;"/>  {{currentUser}} </a></li>
						<li><a title="logout" href="/logout">Logout</a></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="createMeetup-wrapper">
	<header class="clearfix">
		<h1>Edit Profile</h1>
		<form name="editProfileForm" ng-submit="editProfile(editProfileForm.$valid)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : editProfileForm.name.$invalid && !editProfileForm.name.$pristine }">
				<label>Name</label>
				<input type="text" name="name" class="form-control" ng-model="profile.name" required></input>
				<p ng-show="editProfileForm.name.$error.required && !editProfileForm.name.$pristine" class="help-block">Name required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : editProfileForm.city.$invalid && !editProfileForm.city.$pristine }">
				<label>City</label>
				<input type="text" name="city" class="form-control" ng-model="profile.location.city" required></input>
				<p ng-show="editProfileForm.city.$error.required && !editProfileForm.city.$pristine" class="help-block">City required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : editProfileForm.state.$invalid && !editProfileForm.state.$pristine }">
				<label>State</label>
				<input type="text" name="state" class="form-control" ng-model="profile.location.state" required></input>
				<p ng-show="editProfileForm.state.$error.required && !editProfileForm.state.$pristine" class="help-block">State required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : editProfileForm.chooseInterests.$invalid && !editProfileForm.chooseInterests.$pristine }">
				<p ng-show="editProfileForm.chooseInterests.$invalid && !editProfileForm.chooseInterests.$pristine" class="help-block">Choose atleast one interest</p>
				<fieldset>
					<legend style="color:white">Interests</legend>
					<label ng-repeat="interest in interests">
				<input type="checkbox" name="chooseInterests" checklist-model="profile.interests" checklist-value="interest" checklist-change="editProfileForm.chooseInterests.$setValidity('required', profile.interests.length > 0)"> {{ interest }}</input>
			</label>
				</fieldset>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="editProfileForm.$invalid">Save Changes</button>
		</form>
	</header>
</div>

<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>