<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand"><a href="/#/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" class=""></a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
					<ul id="menu-main" class="nav">
						<!-- <li><a><input type="text" id="search" size="17" maxlength="30"></a></li>
						<li><a><input type="submit" value="searchbutton" onclick="mySearch()"></a></li> -->


						<li><a title="Create Meetup" href="/#/createMeetup"><img src="/img/img-add.png" class="user-img" style="width:30px;"/>Create Meetup</a></li>
						<li><a title="User Profile" href="/#/viewProfile"><img src="/img/user.png" class="user-img" style="width:30px;"/>  {{currentUser}} </a></li>
						<li><a title="services" href="/logout">Logout</a></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="home-wrapper">
	<header class="clearfix">
		<h3 style="padding-left:275px;padding-top:10px;"><strong>Feed</strong></h3>
		<!-- <h3>User: {{currentUser}}</h3> -->
		<!-- <p>
	<a href="/logout">Logout</a>
</p> -->
		<!-- <p>
			<a href="/#/viewProfile">View Profile</a>
		</p>
		<p>
			<a href="/#/createMeetup">Create Meetup</a>
		</p> -->
		<span id="page">
		<div ng-repeat="meetup in meetups" class="eve">
				<p class="event"><img src="/img/event.png" class="user-img" style="width:30px;" /><a href="/#/viewMeetup/{{meetup._id}}">{{meetup.title}}</a></p>
				<p class="event-category">{{meetup.category}}</p>
				<p class="event-location"><img src="/img/location.svg" class="user-img" style="width:30px;" />{{meetup.location.street}}, {{meetup.location.city}},
					{{meetup.location.state}}
				</p>
				<p class="event-date"><img src="/img/date.png" class="user-img" style="width:30px;" />{{meetup.date | date: "MM-dd-yyyy"}}</p>
				<p class="event-time"><img src="/img/clock.png" class="user-img" style="width:30px;" />{{meetup.time.from | date: "HH:mm a"}} to {{meetup.time.to | date:"HH:mm a"}}</p>
			</div>
		</span>
	</header>
</div>

<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>

<script type="text/javascript" src="../js/search.js"></script>
<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
<script src="../js/jquery.simplePagination.js"></script>
<script>
	$(function () {
		$("#page").simplePagination({
			perPage: 2
		});
	});

</script>
