<!-- navbar -->
<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Responsive navbar -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a>
                <h1 class="brand"><a href="/#/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" class=""></a></h1>
                <!-- navigation -->
                <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                        <li><a title="team" href="/#/login">Log in</a></li>
                        <li><a title="services" href="/#/register">Register</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header area -->
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
            <img src="img/m_swarm_630x630.png" alt="" style="height: 200px;" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div >
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content" style="color:white; font-size:50px;">
                                    What do you <strong>Love</strong>?
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content" style="color:white; font-size:35px;">
                                    Do it with <strong>Meetup</strong>
                                </p>
                            </li>
                            <!-- <li>
                                <p class="home-slide-content">
                                    <strong>Explore</strong> and create
                                </p>
                            </li> -->
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span6 alignright flyLeft">
                <blockquote class="large">
                    There's huge space beetween creativity and imagination <cite>Mark Simmons, Nett Media</cite>
                </blockquote>
            </div>
            <div class="span6 aligncenter flyRight">
                <i class="icon-coffee icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- section: team -->
<section id="about" class="section">
    <div class="container">
        <h4>Who We Are</h4>
        <div class="row">
            <div class="span4 offset1">
                <div>
                    <h2>Meetups changing <strong>lives</strong></h2>
                    <p>
                        Getting together with real people in real life makes powerful things happen. Side hustles become careers, ideas become movements, and chance encounters become lifelong connections. Meetup brings people together to create thriving communities.
                    </p>
                </div>
            </div>
            <div class="span6">
                <div class="aligncenter">
                    <img src="img/icons/creativity.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2 offset1 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-1.jpg" alt="" />
                    <h3>John Doe</h3>
                    <p>
                        Art director
                    </p>
                </div>
            </div>
            <div class="span2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-2.jpg" alt="" />
                    <h3>Mike Doe</h3>
                    <p>
                        Web developer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-3.jpg" alt="" />
                    <h3>Neil Doe</h3>
                    <p>
                        Web designer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-4.jpg" alt="" />
                    <h3>Mark Joe</h3>
                    <p>
                        UI designer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-5.jpg" alt="" />
                    <h3>Stephen B</h3>
                    <p>
                        Digital imaging
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- end section: team -->
<!-- section: services -->
<section id="services" class="section orange">
    <div class="container">
        <h4>What You can do</h4>
        <!-- Four columns -->
        <div class="row">
            <div class="span4 animated-fast flyIn">
                <div class="service-box">
                    <img src="img/icons/laptop.png" alt="" />
                    <h2>Explore your city</h2>
                    <p>
                        Visit a museum, try new food, go hiking, hit up a brewery tour, or just go meet new people
                        about
                    </p>
                </div>
            </div>
            <div class="span4 animated flyIn">
                <div class="service-box">
                    <h2>Build your career</h2>
                    <p>
                        Take a class, expand your network, learn a language, test a prototype, or pitch to investors
                        about
                    </p>
                    <img src="img/icons/lab.png" alt="" />
                </div>
            </div>
            <div class="span4 animated-slow flyIn">
                <div class="service-box">
                    <img src="img/icons/basket.png" alt="" />
                    <h2>Get creative</h2>
                    <p>
                        Record a podcast, jam out, write a screenplay, discuss art, design a mural, or create something else entirely
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section: services -->

<!-- spacer section -->
<section class="spacer bg3">
    <div class="container">
        <div class="row">
            <div class="span12 aligncenter flyLeft">
                <blockquote class="large">
                    Getting together with real people in real life makes powerful things happen. Side hustles become careers, ideas become movements, and chance encounters become lifelong connections. Meetup brings people together to create thriving communities.
                </blockquote>
            </div>
            <div class="span12 aligncenter flyRight">
                <i class="icon-rocket icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->

<!-- section: contact -->
<section id="contact" class="section green">
    <div class="container">
        <h4>Get in Touch</h4>
        <p>
            Reque facer nostro et ius, cu persius mnesarchum disputando eam, clita prompta et mel vidisse phaedrum pri et. Facilisis
            posidonium ex his. Mutat iudico vis in, mea aeque tamquam scripserit an, mea eu ignota viderer probatus. Lorem legere
            consetetur ei eum. Sumo aeque assentior te eam, pri nominati posidonium consttuam
        </p>
        <div class="blankdivider30">
        </div>
        <div class="row">
            <div class="span12">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="row">
                            <div class="span6">
                                <div class="field your-name form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                                    />
                                    <div class="validation"></div>
                                </div>
                                <div class="field your-email form-group">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"
                                    />
                                    <div class="validation"></div>
                                </div>
                                <div class="field subject form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"
                                    />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="field message form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <input type="submit" value="Send message" class="btn btn-theme pull-left">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ./span12 -->
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <ul class="social-networks">
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
                </ul>
                <p class="copyright">
                    &copy; Meetup 2017. All rights reserved.
                    <div class="credits">
                    </div>
                </p>
            </div>
        </div>
    </div>
    <!-- ./container -->
</footer>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
<script src="../js/jquery.js"></script>
<script src="../js/jquery.scrollTo.js"></script>
<script src="../js/jquery.nav.js"></script>
<script src="../js/jquery.localScroll.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/jquery.prettyPhoto.js"></script>
<script src="../js/isotope.js"></script>
<script src="../js/jquery.flexslider.js"></script>
<script src="../js/inview.js"></script>
<script src="../js/animate.js"></script>
<script src="../js/custom.js"></script>
<script src="../contactform/contactform.js"></script>
