<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a>
				<h1 class="brand"><a href="/#/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" class=""></a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
					<ul id="menu-main" class="nav">
						<li><a title="team" href="#login">Log in</a></li>
						<li><a title="services" href="#register">Register</a></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="login-wrapper">
	<header class="clearfix">
		<h1>Login</h1>
		<form name="userForm" ng-submit="login(userForm.$valid)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				<label>Email</label>
				<input type="email" name="email" class="form-control" ng-model="user.username" ng-pattern="/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/i"
				 required></input>
				<p ng-show="userForm.email.$error.pattern && !userForm.email.$pristine" class="help-block">Enter a valid email</p>
				<p ng-show="userForm.email.$error.required && !userForm.email.$pristine" class="help-block">Email required</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
				<label>Password</label>
				<input type="password" name="password" class="form-control" ng-model="user.password" required></input>
				<p ng-show="userForm.password.$error.required && !userForm.password.$pristine" class="help-block">Password required</p>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Login</button>
			<a href="/#/register">Register</a>
		</form>
	</header>
</div>

<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
<script src="js/jquery.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.localScroll.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/inview.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>