<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</a>
				<h1 class="brand"><a href="/#/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" class=""></a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
					<ul id="menu-main" class="nav">
						<li><a title="Create Meetup" href="/#/createMeetup"><img src="/img/img-add.png" class="user-img" style="width:30px;"/>Create Meetup</a></li>
						<li><a title="User Profile" href="/#/viewProfile"><img src="/img/user.png" class="user-img" style="width:30px;"/>  {{currentUser}} </a></li>
						<li><a title="services" href="/logout">Logout</a></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="home-wrapper">
	<header class="clearfix">
		<aside class="profile-card">

			<header>

				<!-- the username -->
				<h1>{{meetup.title}}</h1>

				<!-- and role or location -->
				<h2> {{meetup.location.street}}, {{meetup.location.city}}, {{meetup.location.state}}</h2>
				<h6>{{meetup.category}}</h6>

				<input type="button" class="btn btn-primary" value="RSVP" ng-click="rsvp()"></input><br>
				<p>Slots: {{meetup.slots}}</p><br>
				<p>Going:</p>
				<ul>
						<li ng-repeat="going in meetup.going">
							{{going}}
						</li>
					</ul>
					<ul>
						<li ng-repeat="notgoing in meetup.notgoing">
							{{notgoing}}
						</li>
					</ul>

			</header>

			<!-- bit of a bio; who are you? -->
			<div class="profile-bio">
					<p style="font-weight: normal"><img src="/img/user.png" class="user-img" style="width:30px;"/><strong> Host -</strong> {{meetup.host}}</p>
				<p style="font-weight: normal"> 
					{{meetup.details}}
				</p>
				<p style="font-weight: normal"><img src="/img/date.png" class="user-img" style="width:30px;"/><strong>Date: </strong>{{meetup.date | date: "MM-dd-yyyy"}}</p>
				<p style="font-weight: normal"><img src="/img/clock.png" class="user-img" style="width:30px;"/><strong>Duration: </strong>{{meetup.time.from | date: "HH:mm a"}} to {{meetup.time.to | date: "HH:mm a"}}</p>

			</div>

			</ul>

		</aside>




		<!-- <h1>{{meetup.title}}</h1>
		<p>Host: {{meetup.host}}</p>
		<p>Category: {{meetup.category}}</p>
		<p>Details: {{meetup.details}}</p>
		<p>Location: {{meetup.location.street}}, {{meetup.location.city}}, {{meetup.location.state}}</p>
		<p>Date: {{meetup.date | date: "MM-dd-yyyy"}}</p>
		<p>Duration: {{meetup.time.from | date: "HH:mm a"}} to {{meetup.time.to | date: "HH:mm a"}}</p>
		<input type="button" class="btn btn-primary" value="RSVP" ng-click="rsvp()"></input>
		<p>Slots: {{meetup.slots}}</p>
		<p>Going:</p>
		<ul>
			<li ng-repeat="going in meetup.going">
				{{going}}
			</li>
		</ul>
		<ul>
			<li ng-repeat="notgoing in meetup.notgoing">
				{{notgoing}}
			</li>
		</ul> -->
	</header>
</div>

<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>