<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</a>
				<h1 class="brand"><a href="/#/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" class=""></a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
					<ul id="menu-main" class="nav">
						<li><a title="Create Meetup" href="/#/createMeetup"><img src="/img/img-add.png" class="user-img" style="width:30px;"/>Create Meetup</a></li>
						<li><a title="Edit Profile" href="/#/editProfile"><img src="/img/edit-user.png" class="user-img" style="width:30px;"/>  {{currentUser}} </a></li>
						<li><a title="services" href="/logout">Logout</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="home-wrapper">
	<header class="clearfix">
		<aside class="profile-card">

			<header>

				<!-- here’s the avatar -->
				<a>
			<img src="/img/team/img-5.jpg">
		  </a>

				<!-- the username -->
				<h1>{{member.name}}</h1>

				<!-- and role or location -->
				<h2> {{member.location.city}}, {{member.location.state}}</h2>
				<h6>{{member._id}}</h6>

			</header>

			<!-- bit of a bio; who are you? -->
			<div class="profile-bio">

				<p>
					<h4>Interests</h4>
					<ol class="rectangle-list">
						<li ng-repeat="interest in member.interests"><a>{{interest}}</a></li>
					</ol>
				</p>

			</div>

			</ul>

		</aside>
		<!-- <h1>Profile</h1>
<h3>User: {{member._id}}</h3>
<p>Name: {{member.name}}</p>
<p>Location: {{member.location.city}}, {{member.location.state}}</p>
<h4>Interests</h4>
<ul>
	<li ng-repeat="interest in member.interests">
		{{interest}}
	</li>
</ul> -->
		<aside class="profile-card">
			<div ng-repeat="meetup in hostedMeetups" class="eve2">
				<p class="event"><img src="/img/event.png" class="user-img" style="width:30px;" /><a href="/#/viewMeetup/{{meetup._id}}">{{meetup.title}}</a></p>
				<p class="event-category">{{meetup.category}}</p>
				<p class="event-location"><img src="/img/location.svg" class="user-img" style="width:30px;" />{{meetup.location.street}}, {{meetup.location.city}},
					{{meetup.location.state}}</p>
				<p class="event-date"><img src="/img/date.png" class="user-img" style="width:30px;" />{{meetup.date | date: "MM-dd-yyyy"}}</p>
				<p class="event-time"><img src="/img/clock.png" class="user-img" style="width:30px;" />{{meetup.time.from | date: "HH:mm a"}}
			</div>
		</aside>

	</header>
</div>

<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
<script src="js/jquery.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.localScroll.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/inview.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>